.lets-talk-section{
  width: 100%;
  height: 210px;
  background-image: url(../../Images/AboutPageImages//know-us.png);
  background-size: cover;
  background-size: center;
  text-align: center;
  padding: 70px 0;
}